/*
 * Copyright (c) 2025 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 * Define the device, controller and partition to be the external memory
 * for running the application in external NOR from MCUboot
 */
/ {
	aliases {
		/delete-property/ led0;
    	/delete-property/ led1;
		/delete-property/ led2;

		led0 = &red_led;
	};

	chosen {
		zephyr,flash = &mx25uw25645;
		zephyr,flash-controller = &mx25uw25645;
		zephyr,code-partition = &slot0_partition;
	};

	soc {
		rtc: rtc@58004000 {
			compatible = "st,stm32-rtc";
			reg = <0x58004000 0x400>;
			interrupts = <32 0>;
			clocks = <&rcc STM32_CLOCK(APB4, 16)>,
				<&rcc STM32_SRC_LSE RTC_SEL(1)>;
			prescaler = <32768>;
			alarms-count = <2>;
			alrm-exti-line = <17>;
			status = "okay";
		};
	};
};

&sram2 {
	status = "okay";
};

&pll {
	div-m = <2>;
	mul-n = <50>;
	div-p = <1>;
};

&rcc {
	clock-frequency = <DT_FREQ_M(600)>;
	hpre = <2>;
};

&clk_hsi48 {
	status = "okay";
};

&die_temp {
	status = "okay";
};

&rng {
	status = "okay";
};

&fdcan2 {
	pinctrl-0 = <&fdcan2_rx_pb12 &fdcan2_tx_pb13>;
	pinctrl-names = "default";
	status = "okay";
};

&timers1 {
	status = "okay";

	pwm1 {
		compatible = "st,stm32-pwm";
		pinctrl-0 = <&tim1_ch4_pd10>;
		pinctrl-names = "default";
		status = "okay";
		#pwm-cells = <3>;
	};
};

&timers4 {
	status = "okay";

	pwm4 {
		compatible = "st,stm32-pwm";
		pinctrl-0 = <&tim4_ch2_pd13>;
		pinctrl-names = "default";
		status = "okay";
		#pwm-cells = <3>;
	};
};

&spi1 {
	spim_dt: spi-device@0 {
		compatible = "vnd,spi-device";
		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(8)>;
	};
};

/delete-node/ &green_led;
/delete-node/ &yellow_led;


/delete-node/ &scratch_partition;
/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &storage_partition;

&mx25uw25645 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		slot0_partition: partition@0 {
			label = "image-0";
			reg = <0x00000000 0x00800180>;
		};

		slot1_partition: partition@801000 {
			label = "image-1";
			reg = <0x00801000 0x00800180>;
		};
		scratch_partition: partition@1002000 {
			label = "image-scratch";
			reg = <0x01002000 DT_SIZE_K(64)>;
		};
		storage_partition: partition@1012000 {
			label = "storage";
			reg = <0x01012000 0x00FEE000>;
		};
	};
};

